	html,
	body,
	main {
		padding: 0;
		margin: 0;
		overflow: hidden;
	}

	.hid {
		display: none
	}

	* {
		transition: all 500ms cubic-bezier(0, 1, .41, 1.01)
	}

	.bg {
		top: 0px;
		left: 0px;

		height: 100vmax;
		position: absolute;
		z-index: -999;
	}

	.windows {
		width: 100vw;
		height: 100vh;

	}

	.windows>* {
		position: absolute;
		border-radius: 10px;
		box-shadow: (somethin);
	}

	.striped {
		background: repeating-linear-gradient(45deg,
				rgb(143, 235, 255),
				rgb(143, 235, 255) 1px,
				rgb(0, 201, 246) 2px,
				rgb(0, 201, 246) 6px);
	}

	.taskbar {
		top: 15px;
		left: 15px;
		width: 400px;
		height: 75px;
		border: 2px solid rgb(0, 209, 255);
		background-color: rgb(49, 49, 49);



	}

	.icon {
		aspect-ratio: 1/1;
		height: 84%;
		margin: 2%;
		border-radius: 10px;
		border: solid 2px;
	}