body,
main,
html {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.hid {
	display: none
}

@keyframes intro {
	0% {
		transform: scale(0);

	}









}

*::selection {
	background-color: #c4c4c4;
	color: #000;
}



* {
	transition: all 250ms cubic-bezier(1, .03, 0, .99);
	color: #c4c4c4;
	font-family: "Fira Code", monospace;

}

body {
	display: flex;
	background-color: #000;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	animation: 2s intro cubic-bezier(1, .03, 0, .99);
}

div {
	box-sizing: border-box;
}

.cont1 {
	flex-grow: 1;
	min-height: 0;
	border: solid #c4c4c4 4px;
	border-top: hidden;
	display: flex;
	justify-content: center;
}

.header {
	width: 100%;
	border: solid #c4c4c4 4px;
	border-bottom: solid #c4c4c4 4px;
	height: max(10%, 60px);
	display: flex;
	align-items: center;
	overflow: hidden;

}

.username {
	text-align: center;
	flex-grow: 1;
	flex-shrink: 1;
}

.icon {
	aspect-ratio: 1/1;
	height: 100%;
	border-right: solid 4px #c4c4c4;
	margin-right: 2px;
}

.filename {
	flex-grow: 1;
	text-align: center;
	border-right: solid 4px #c4c4c4;
	margin-right: 2px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-right: 2px;
}

.username {
	font-size: max(8vh, 32px);
}

.search {
	border-right: solid 4px #c4c4c4;
	flex-grow: 1;
	max-width: 40ch;
	height: 100%;
	margin-right: 2px;
	display: flex;
	align-items: center;
}

.searchicon {
	aspect-ratio: 1/1;
	height: 80%;
}

.searchinput {
	margin-left: 10px;
	margin-right: 10px;
	flex-grow: 1;
}

input[type="text"] {
	border: solid 2px #c4c4c4;
	outline: none;
	background: none;
}


.file {
	width: 50ch;


	height: 100%;
	background: #000;
	outline: none;
	border-right: solid #c4c4c4 4px;
	border-left: solid #c4c4c4 4px;
	overflow-y: scroll;
	font-size: 3vmin;
	padding: 5px;

}





/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	border: solid 4px #c4c4c4;
	background-color: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
	border: solid 4px #c4c4c4;
	background-color: #c4c4c4;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	border: solid 4px #c4c4c4;
	background-color: #c4c4c4;
}